@use '@angular/material' as mat;

.alert {
  border: 2px solid red;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: rgba(255, 255, 0, 0.1);
}

:host {
  --content-padding: 10px;
}

header {
  display: block;
  padding: var(--content-padding);
}
.content {
  padding: var(--content-padding);
}

mat-toolbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

//Animations for view transitions

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

::view-transition-old(root) {
  animation-name: fade-out;
}

::view-transition-new(root) {
  animation-name: fade-in;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
