@use '@angular/material' as mat;

.alert {
  border: 2px solid red;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: rgba(255, 255, 0, 0.1);
}

:host {
  --content-padding: 10px;
}

header {
  display: block;
  padding: var(--content-padding);
}
.content {
  padding: var(--content-padding);
}

mat-toolbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
