:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-card-header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo-card {
  $pad: 20px;
  margin-top: 26px;
  margin-bottom: 26px;
  padding-top: $pad;
  padding-left: $pad;
  padding-right: $pad;
}
.welcome-card {
  padding-left: 16px;
  padding-right: 16px;
  margin: 10px;
}
.headline {
  margin: 0;
  padding: 0;
}

