<form [formGroup]="formGroup">
  <mat-slide-toggle formControlName="enableScenario">Enable scenario</mat-slide-toggle>
  <br/>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required />
    @if (formGroup.get('name')?.invalid && formGroup.get('name')?.touched) {
      <mat-error>{{getErrorMessage('name')}}</mat-error>
    }
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Target System</mat-label>
    <mat-select formControlName="targetSystemId">
      <mat-option [value]="null">All targets</mat-option>
      @for (system of targetSystems; track system.id) {
        <mat-option [value]="system.id">{{system.systemName}}</mat-option>
      }
    </mat-select>
    <mat-hint>Optional - leave empty for all target systems</mat-hint>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Path</mat-label>
    <input matInput formControlName="path" />
    <mat-hint>Optional - can be empty (all paths) or use regex like /api/*</mat-hint>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>
  <div>
    <button matButton matStepperNext>Next</button>
  </div>
</form>
