spring:
  datasource:
    url: ${JDBC_URL:-jdbc:postgresql://db:5432/network_simulator}
    username: ${JDBC_USERNAME:-network_simulator_user}
    password: ${JDBC_PASSWORD:-network_simulator_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        format_sql: true
